@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Index của demo</h2>
<p>
     Lorem
</p>

<p>
     <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Quay lại trang chủ</a>
</p>